# TODO: Hide /templates
# - [ ] ONLY /templates
# - [ ] not breaking the rewrite
# - [ ] from list
# - [ ] from direct link

:80 {
  root * /files
  file_server browse {
    hide .git* templates
    index index.html index.md
  }

  templates
  
  handle_path /*.md {
    file_server

    rewrite /templates/markdown.html
  }
}
